<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hemerdinger.finance.mapper.StockTraceMapper">

    <resultMap type="StockTrace" id="StockTraceResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="price"    column="price"    />
        <result property="pb"    column="pb"    />
        <result property="pbMin"    column="pb_min"    />
        <result property="pbMax"    column="pb_max"    />
        <result property="pbFit"    column="pb_fit"    />
        <result property="keepData"    column="keep_data"    />
        <result property="amount"    column="amount"    />
        <result property="amountMin"    column="amount_min"    />
        <result property="amountMax"    column="amount_max"    />
        <result property="amountFit"    column="amount_fit"    />
        <result property="startTime"    column="start_time"    />
    </resultMap>

    <sql id="selectStockTraceVo">
        select id, name, code, price, pb, pb_min, pb_max, pb_fit, keep_data, amount, amount_min, amount_max, amount_fit, start_time from stock_trace
    </sql>

    <select id="selectStockTraceList" parameterType="StockTrace" resultMap="StockTraceResult">
        <include refid="selectStockTraceVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="pb != null "> and pb = #{pb}</if>
            <if test="pbMin != null "> and pb_min = #{pbMin}</if>
            <if test="pbMax != null "> and pb_max = #{pbMax}</if>
            <if test="pbFit != null "> and pb_fit = #{pbFit}</if>
            <if test="keepData != null "> and keep_data = #{keepData}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="amountMin != null "> and amount_min = #{amountMin}</if>
            <if test="amountMax != null "> and amount_max = #{amountMax}</if>
            <if test="amountFit != null "> and amount_fit = #{amountFit}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
        </where>
    </select>

    <select id="selectStockTraceById" parameterType="Long" resultMap="StockTraceResult">
        <include refid="selectStockTraceVo"/>
        where id = #{id}
    </select>

    <insert id="insertStockTrace" parameterType="StockTrace">
        insert into stock_trace
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="code != null">code,</if>
            <if test="price != null">price,</if>
            <if test="pb != null">pb,</if>
            <if test="pbMin != null">pb_min,</if>
            <if test="pbMax != null">pb_max,</if>
            <if test="pbFit != null">pb_fit,</if>
            <if test="keepData != null">keep_data,</if>
            <if test="amount != null">amount,</if>
            <if test="amountMin != null">amount_min,</if>
            <if test="amountMax != null">amount_max,</if>
            <if test="amountFit != null">amount_fit,</if>
            <if test="startTime != null">start_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="code != null">#{code},</if>
            <if test="price != null">#{price},</if>
            <if test="pb != null">#{pb},</if>
            <if test="pbMin != null">#{pbMin},</if>
            <if test="pbMax != null">#{pbMax},</if>
            <if test="pbFit != null">#{pbFit},</if>
            <if test="keepData != null">#{keepData},</if>
            <if test="amount != null">#{amount},</if>
            <if test="amountMin != null">#{amountMin},</if>
            <if test="amountMax != null">#{amountMax},</if>
            <if test="amountFit != null">#{amountFit},</if>
            <if test="startTime != null">#{startTime},</if>
        </trim>
    </insert>

    <update id="updateStockTrace" parameterType="StockTrace">
        update stock_trace
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="price != null">price = #{price},</if>
            <if test="pb != null">pb = #{pb},</if>
            <if test="pbMin != null">pb_min = #{pbMin},</if>
            <if test="pbMax != null">pb_max = #{pbMax},</if>
            <if test="pbFit != null">pb_fit = #{pbFit},</if>
            <if test="keepData != null">keep_data = #{keepData},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="amountMin != null">amount_min = #{amountMin},</if>
            <if test="amountMax != null">amount_max = #{amountMax},</if>
            <if test="amountFit != null">amount_fit = #{amountFit},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockTraceById" parameterType="Long">
        delete from stock_trace where id = #{id}
    </delete>

    <delete id="deleteStockTraceByIds" parameterType="String">
        delete from stock_trace where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
