<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hemerdinger.finance.mapper.StockTraceMapper">
    
    <resultMap type="StockTrace" id="StockTraceResult">
        <result property="id"    column="id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="costPrice"    column="cost_price"    />
        <result property="quotient"    column="quotient"    />
        <result property="quotientMin"    column="quotient_min"    />
        <result property="quotientMax"    column="quotient_max"    />
        <result property="quotientFit"    column="quotient_fit"    />
        <result property="assessmentType"    column="assessment_type"    />
        <result property="assessmen"    column="assessmen"    />
        <result property="assessmenMin"    column="assessmen_min"    />
        <result property="assessmenMax"    column="assessmen_max"    />
        <result property="assessmenFit"    column="assessmen_fit"    />
        <result property="safeSpan"    column="safe_span"    />
        <result property="startTime"    column="start_time"    />
        <result property="keepData"    column="keep_data"    />
        <result property="timeSpan"    column="time_span"    />
        <result property="planId"    column="plan_id"    />
    </resultMap>

    <sql id="selectStockTraceVo">
        select id, del_flag, create_by, create_time, update_by, update_time, name, code, cost_price, quotient, quotient_min, quotient_max, quotient_fit, assessment_type, assessmen, assessmen_min, assessmen_max, assessmen_fit, safe_span, start_time, keep_data, time_span, plan_id from stock_trace
    </sql>

    <select id="selectStockTraceList" parameterType="StockTrace" resultMap="StockTraceResult">
        <include refid="selectStockTraceVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="costPrice != null "> and cost_price = #{costPrice}</if>
            <if test="quotient != null "> and quotient = #{quotient}</if>
            <if test="quotientMin != null "> and quotient_min = #{quotientMin}</if>
            <if test="quotientMax != null "> and quotient_max = #{quotientMax}</if>
            <if test="quotientFit != null "> and quotient_fit = #{quotientFit}</if>
            <if test="assessmentType != null  and assessmentType != ''"> and assessment_type = #{assessmentType}</if>
            <if test="assessmen != null "> and assessmen = #{assessmen}</if>
            <if test="assessmenMin != null "> and assessmen_min = #{assessmenMin}</if>
            <if test="assessmenMax != null "> and assessmen_max = #{assessmenMax}</if>
            <if test="assessmenFit != null "> and assessmen_fit = #{assessmenFit}</if>
            <if test="safeSpan != null  and safeSpan != ''"> and safe_span = #{safeSpan}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="keepData != null "> and keep_data = #{keepData}</if>
            <if test="timeSpan != null "> and time_span = #{timeSpan}</if>
            <if test="planId != null "> and plan_id = #{planId}</if>
        </where>
    </select>
    
    <select id="selectStockTraceById" parameterType="Long" resultMap="StockTraceResult">
        <include refid="selectStockTraceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStockTrace" parameterType="StockTrace" useGeneratedKeys="true" keyProperty="id">
        insert into stock_trace
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="name != null">name,</if>
            <if test="code != null">code,</if>
            <if test="costPrice != null">cost_price,</if>
            <if test="quotient != null">quotient,</if>
            <if test="quotientMin != null">quotient_min,</if>
            <if test="quotientMax != null">quotient_max,</if>
            <if test="quotientFit != null">quotient_fit,</if>
            <if test="assessmentType != null">assessment_type,</if>
            <if test="assessmen != null">assessmen,</if>
            <if test="assessmenMin != null">assessmen_min,</if>
            <if test="assessmenMax != null">assessmen_max,</if>
            <if test="assessmenFit != null">assessmen_fit,</if>
            <if test="safeSpan != null">safe_span,</if>
            <if test="startTime != null">start_time,</if>
            <if test="keepData != null">keep_data,</if>
            <if test="timeSpan != null">time_span,</if>
            <if test="planId != null">plan_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="name != null">#{name},</if>
            <if test="code != null">#{code},</if>
            <if test="costPrice != null">#{costPrice},</if>
            <if test="quotient != null">#{quotient},</if>
            <if test="quotientMin != null">#{quotientMin},</if>
            <if test="quotientMax != null">#{quotientMax},</if>
            <if test="quotientFit != null">#{quotientFit},</if>
            <if test="assessmentType != null">#{assessmentType},</if>
            <if test="assessmen != null">#{assessmen},</if>
            <if test="assessmenMin != null">#{assessmenMin},</if>
            <if test="assessmenMax != null">#{assessmenMax},</if>
            <if test="assessmenFit != null">#{assessmenFit},</if>
            <if test="safeSpan != null">#{safeSpan},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="keepData != null">#{keepData},</if>
            <if test="timeSpan != null">#{timeSpan},</if>
            <if test="planId != null">#{planId},</if>
         </trim>
    </insert>

    <update id="updateStockTrace" parameterType="StockTrace">
        update stock_trace
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="costPrice != null">cost_price = #{costPrice},</if>
            <if test="quotient != null">quotient = #{quotient},</if>
            <if test="quotientMin != null">quotient_min = #{quotientMin},</if>
            <if test="quotientMax != null">quotient_max = #{quotientMax},</if>
            <if test="quotientFit != null">quotient_fit = #{quotientFit},</if>
            <if test="assessmentType != null">assessment_type = #{assessmentType},</if>
            <if test="assessmen != null">assessmen = #{assessmen},</if>
            <if test="assessmenMin != null">assessmen_min = #{assessmenMin},</if>
            <if test="assessmenMax != null">assessmen_max = #{assessmenMax},</if>
            <if test="assessmenFit != null">assessmen_fit = #{assessmenFit},</if>
            <if test="safeSpan != null">safe_span = #{safeSpan},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="keepData != null">keep_data = #{keepData},</if>
            <if test="timeSpan != null">time_span = #{timeSpan},</if>
            <if test="planId != null">plan_id = #{planId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockTraceById" parameterType="Long">
        delete from stock_trace where id = #{id}
    </delete>

    <delete id="deleteStockTraceByIds" parameterType="String">
        delete from stock_trace where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>