<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hemerdinger.finance.mapper.StockPositionPlanMapper">

    <resultMap type="StockPositionPlan" id="StockPositionPlanResult">
        <result property="id"    column="id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="traceId"    column="trace_id"    />
        <result property="adviceDate"    column="advice_date"    />
        <result property="advicePrice"    column="advice_price"    />
        <result property="griddingAmount"    column="gridding_amount"    />
        <result property="adviceAmount"    column="advice_amount"    />
        <result property="griddingPercent"    column="gridding_percent"    />
        <result property="advicePercent"    column="advice_percent"    />
        <result property="tradeType"    column="trade_type"    />
    </resultMap>

    <sql id="selectStockPositionPlanVo">
        select id, del_flag, create_by, create_time, update_by, update_time, trace_id, advice_date, advice_price, gridding_amount, advice_amount, gridding_percent, advice_percent, trade_type from stock_position_plan
    </sql>

    <select id="selectStockPositionPlanList" parameterType="StockPositionPlan" resultMap="StockPositionPlanResult">
        <include refid="selectStockPositionPlanVo"/>
        <where>
            <if test="traceId != null "> and trace_id = #{traceId}</if>
            <if test="adviceDate != null "> and advice_date = #{adviceDate}</if>
            <if test="advicePrice != null "> and advice_price = #{advicePrice}</if>
            <if test="griddingAmount != null  and griddingAmount != ''"> and gridding_amount = #{griddingAmount}</if>
            <if test="adviceAmount != null "> and advice_amount = #{adviceAmount}</if>
            <if test="griddingPercent != null  and griddingPercent != ''"> and gridding_percent = #{griddingPercent}</if>
            <if test="advicePercent != null "> and advice_percent = #{advicePercent}</if>
            <if test="tradeType != null  and tradeType != ''"> and trade_type = #{tradeType}</if>
        </where>
        order by advice_date
    </select>

    <select id="selectStockPositionPlanById" parameterType="Long" resultMap="StockPositionPlanResult">
        <include refid="selectStockPositionPlanVo"/>
        where id = #{id}
    </select>

    <insert id="insertStockPositionPlan" parameterType="StockPositionPlan" useGeneratedKeys="true" keyProperty="id">
        insert into stock_position_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="traceId != null">trace_id,</if>
            <if test="adviceDate != null">advice_date,</if>
            <if test="advicePrice != null">advice_price,</if>
            <if test="griddingAmount != null">gridding_amount,</if>
            <if test="adviceAmount != null">advice_amount,</if>
            <if test="griddingPercent != null">gridding_percent,</if>
            <if test="advicePercent != null">advice_percent,</if>
            <if test="tradeType != null">trade_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="traceId != null">#{traceId},</if>
            <if test="adviceDate != null">#{adviceDate},</if>
            <if test="advicePrice != null">#{advicePrice},</if>
            <if test="griddingAmount != null">#{griddingAmount},</if>
            <if test="adviceAmount != null">#{adviceAmount},</if>
            <if test="griddingPercent != null">#{griddingPercent},</if>
            <if test="advicePercent != null">#{advicePercent},</if>
            <if test="tradeType != null">#{tradeType},</if>
        </trim>
    </insert>

    <update id="updateStockPositionPlan" parameterType="StockPositionPlan">
        update stock_position_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="traceId != null">trace_id = #{traceId},</if>
            <if test="adviceDate != null">advice_date = #{adviceDate},</if>
            <if test="advicePrice != null">advice_price = #{advicePrice},</if>
            <if test="griddingAmount != null">gridding_amount = #{griddingAmount},</if>
            <if test="adviceAmount != null">advice_amount = #{adviceAmount},</if>
            <if test="griddingPercent != null">gridding_percent = #{griddingPercent},</if>
            <if test="advicePercent != null">advice_percent = #{advicePercent},</if>
            <if test="tradeType != null">trade_type = #{tradeType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockPositionPlanById" parameterType="Long">
        delete from stock_position_plan where id = #{id}
    </delete>

    <delete id="deleteStockPositionPlanByIds" parameterType="String">
        delete from stock_position_plan where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
  <delete id="deleteStockPositionPlanByTraceId" parameterType="Long">
      delete from stock_position_plan where trace_id = #{traceId}
  </delete>
</mapper>
