<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hemerdinger.gpt.mapper.GptFictionMapper">
    
    <resultMap type="GptFiction" id="GptFictionResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="summary"    column="summary"    />
        <result property="img"    column="img"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectGptFictionVo">
        select id, name, summary, img, del_flag, create_by, create_time, update_by, update_time from gpt_fiction
    </sql>

    <select id="selectGptFictionList" parameterType="GptFiction" resultMap="GptFictionResult">
        <include refid="selectGptFictionVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
        </where>
    </select>
    
    <select id="selectGptFictionById" parameterType="Long" resultMap="GptFictionResult">
        <include refid="selectGptFictionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGptFiction" parameterType="GptFiction" useGeneratedKeys="true" keyProperty="id">
        insert into gpt_fiction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="summary != null">summary,</if>
            <if test="img != null">img,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="summary != null">#{summary},</if>
            <if test="img != null">#{img},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateGptFiction" parameterType="GptFiction">
        update gpt_fiction
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="img != null">img = #{img},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGptFictionById" parameterType="Long">
        delete from gpt_fiction where id = #{id}
    </delete>

    <delete id="deleteGptFictionByIds" parameterType="String">
        delete from gpt_fiction where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>